# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.env
.ember

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Artifacts
artifacts/debug/
artifacts/tex/booklet.pdf
artifacts/tex/booklet.log
artifacts/tex/booklet.aux
artifacts/tex/main.pdf
artifacts/tex/main.log
artifacts/tex/main.aux
artifacts/tex/companion.pdf
artifacts/tex/companion.log
artifacts/tex/companion.aux
.bin_python/

.ember

# Anki
*.apkg