# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.env

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Artifacts
artifacts/debug/
artifacts/tex/main.pdf
artifacts/tex/main.log
artifacts/tex/main.aux
.bin_python/
